// styles for Northeastern SASE website

/************************************************/
// Foundation 5 overrides

.midfix {
  @include prefix-postfix-base();
  @include prefix();
  border-left: none;
  border-right: none;
}

/************************************************/
// layout

@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin border-radius($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
}

.off-canvas-list {
  li.active a {
    background-color: $sase-blue;
    color: #fff;
  }
  li.active a:hover {
    background-color: scale-color($sase-blue, $lightness: -15%);
  }
  li label a { border-bottom: none; }
}

header {
  .top-bar-section {
    @media (max-width:$topbar-breakpoint) { display: none; }
    ul li {
      margin: 0;
      border-bottom: 2px solid transparent;
    }
    ul li.active { border-color: #fff; }
    ul li:hover { border-color: #fff; }
  }

  .top-bar .toggle-topbar a {
    border: 1px solid transparent;
    padding: 5px 12px 0;
    &:hover {
      border: 1px solid #fff;
    }
  }

  background: $sase-blue;
  background-position: center center;
  background-repeat: no-repeat;
  @include background-cover;

  padding: rem-calc(30) 0 rem-calc(10);
  h1,h2,h3,h4,h5,h6 { color: #fff; }
  color: #fff;
}

.banner {
  padding: rem-calc(50) rem-calc(10);
  text-align: center;
}

.heading {
  padding: rem-calc(70) rem-calc(10);
  text-align: center;
}

.section {
  padding: rem-calc(50) rem-calc(10);
}

.container {
  padding: rem-calc(100) 0;
  h1,h2,h3,h4,h5,h6 {
    margin-bottom: rem-calc(35);
  }
}

.white { background: #fff; }
.grey { background: #eee; }
.smoke { background: #ececec; }
.porcelain { background: #ecf0f1; }
.gold { background: #f8e397; }
.light-grey { background: #f6f6f6; }

footer {
  background-color: #333;
  padding: rem-calc(80) 0 rem-calc(30);
  border-top: 5px solid $sase-green;
  color: #eee;

  h1,h2,h3,h4,h5,h6 { color: #fff; }
  a { color: #eee; }
  a:hover { color: $sase-green; }

  ul {
    list-style-type: none;
    margin-left: 0;
  }
  .divider {
    border: 0;
    padding: rem-calc(15) 0;
  }

  #copyright {
    text-align: center;
    margin-bottom: rem-calc(30);
  }
}

#scroller {
  display: none;
  position: fixed;
  bottom: rem-calc(30);
  right: rem-calc(30);
  padding:  0 rem-calc(5) rem-calc(5);
  border-radius: 5px;
  background: rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.5);
}
#scroller:hover {
  background: #000;
  color: #fff;
}

#outdate-box {
  background: #f04124;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.placeholder {
  margin: rem-calc(10);
  padding: rem-calc(30);

  border: dashed 5px #999;
  @include border-radius(25px);
  background-color: #eee;

  text-align: center;
  font-weight: $font-weight-bold;
}

@mixin button-outline($border, $text) {
  border: 1px solid $border;
  color: $border;
  background: transparent;
  &:hover,
  &:focus,
  &:active {
    background: $border;
    color: $text;
  }
}

.btn-outline {
  @include button-outline($sase-blue, #fefefe);
}

.btn-outline-inverse {
  @include button-outline(#fefefe, $sase-blue);
}

.btn-secondary {
  @include button-outline($charcoal, #fefefe);
}

.btn-secondary-inverse {
  @include button-outline(#fefefe, $charcoal);
}

.btn-alert {
  @include button-outline($alert-color, #fefefe);
}

.btn-alert-inverse {
  @include button-outline(#fefefe, $alert-color);
}

.btn-success {
  @include button-outline($success-color, #fefefe);
}

.btn-success-inverse {
  @include button-outline(#fefefe, $success-color);
}

.btn-warning {
  @include button-outline($warning-color, #fefefe);
}

.btn-warning-inverse {
  @include button-outline(#fefefe, $warning-color);
}

.btn-info {
  @include button-outline(scale-color($info-color, $lightness: -30%), #fefefe);
}

.btn-info-inverse {
  @include button-outline(#fefefe, scale-color($info-color, $lightness: -30%));
}

/************************************************/
// home page

#promo {
  margin: rem-calc(50) auto;
  text-align: center;
}

.pillar {
  padding-top: rem-calc(50);
  padding-bottom: rem-calc(30);
  text-align: center;
  img {
    @include border-radius(50%);
    margin-bottom: rem-calc(20);
  }
}

/************************************************/
// events page

@mixin image-banner($path) {
  background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)), url($path);
  background-position: center center;
  background-repeat: no-repeat;
  @include background-cover;
  h1,h2,h3,h4,h5,h6 {
    color: #fff;
  }
}

#upcoming {
  @include image-banner('../img/site/event_upcoming.jpg');
}

#meeting {
  @include image-banner('../img/site/event_meeting.jpg');
}

#service {
  @include image-banner('../img/site/event_service.jpg');
}

.event-card {
  list-style-type: none;
  margin: 0 0 30px;
  .title {
    font-size: 1.4em;
  }
  .info {
    span {
      padding-right: rem-calc(10);
    }
  }
  .description {}
}

.bottom-banner {
  padding-top: rem-calc(30);
  padding-bottom: rem-calc(10);
  background-color: #eee;
  p {
    padding-top: rem-calc(10);
  }
}

// past events

.side-label-nav {
  @include side-nav();
  padding: 0;
  li {
    margin: 0;
    border-left: 3px solid #eee;
    &:hover {
      border-left: 3px solid $sase-blue;
    }
  }
  li.active {
    background: rgba(0,0,0,0.03);
    border-left: 3px solid $sase-blue;
  }
  li a:not(.button) {
    color: rgba(0,0,0,0.7);
    &:hover {
      color: $sase-blue;
    }
  }
  li.active > a:first-child:not(.button) {
    color: $sase-blue;
  }
}

/************************************************/
// eboards page

.eboard-card {
  margin-bottom: 50px;
  list-style-type: none;
  text-align: center;
  .pic img {
    border-radius: 50%;
  }
  .position {
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.8em;
  }
  .name {
    font-size: 1.2em;
  }
  .major {}
  .year {}
}

/************************************************/
// newsletter

.icon-block {
  display: block;
  margin: rem-calc(30) 0;
  text-align: center;
}
.icon-block.success {
  color: $success-color;
}
.icon-block.alert {
  color: $alert-color;
}

/************************************************/
// sponsors page

.thumbnail-block {
  ul li a {
    display: block;
    background: #fff;
    padding-top: rem-calc(20);
    height: 160px;
  }
  ul li a:hover {
    box-shadow: 0 0 6px 2px $sase-green;
  }
}

/************************************************/
// contact page

.gmail-red {
  color: #dd4b39;
  font-weight: $font-weight-bold;
}
.facebook-blue {
  color: #3b5998;
  font-weight: $font-weight-bold;
}
.orgsync-green {
  color: #859d03;
  font-weight: $font-weight-bold;
}

.card {
  padding: rem-calc(30);
}

/************************************************/
// join page

.map-overlay {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 5;
}

/************************************************/
// programs page

.program {
  div.columns {
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
  }
  @media #{$small-only} {
    text-align: center;
  }
}

#mentorship {
  @extend .program;
  background: url('../img/site/mentor_bg.jpg') center center no-repeat;
  @include background-cover;
  div.columns { background: rgba(255,255,255,0.5); }
  @media #{$small-only} {
    div.columns { background: rgba(255,255,255,0.9); }
  }
}

#innoservice {
  @extend .program;
  background: url('../img/site/stude_blueprint.jpg') center center no-repeat;
  @include background-cover;
  div.columns { background: rgba(255,255,255,0.8); }
  @media #{$small-only} {
    div.columns { float: none !important; }
  }
}

/************************************************/
// admin interface

.img-circle {
  @include border-radius(50%);
}

#login-bg {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/site/northeastern.png');
  background-position: center center;
  background-repeat: no-repeat;
  @include background-cover;
}

#login-card {
  background: #fff;
  border: 1px solid #eee;
  padding: 20px;
  margin-top: 100px;
}

#user {
  padding-top: 10px;
  a { color: #fff; }
  a:hover { color: $sase-green; }
}

.actions {
  a { color: #000 };
  a:hover { color: $sase-blue; };
}

.overflow {
  overflow-x: auto;
}
